<style>.field{width:180px;}</style>
<h1>Добавление пользователя</h1>
<form method="POST">
    <label>Имя</label><br>
    <input name="name" class="field"/><br><br>
    <label>Цена</label><br>
    <input name="age" type="number" class="field" min="1" max="1100000" /><br><br>
    <input type="submit" value="Отправить" />
    <select name = "companyId">
        {{#each companies}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</form>
<a href="/">К списку пользователей</a>