<style>.field{width:180px;}</style>
<h1>Редактирование пользователя</h1>
<form action="/edit" method="POST">
    <input type="hidden" name="id" value="{{user.id}}" />
    <label>Имя</label><br>
    <input name="name" value="{{user.name}}"  class="field" /><br><br>
    <label>Цена</label><br>
    <input name="age" type="number" min="1" max="1100000" value="{{user.prise}}" class="field" /><br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/">К списку пользователей</a>