

<body>
<div class="materialContainer">
    <div class="login_box">
        <div class="login_box_left">
            <h2 class="title">sigh in</h2>
            <form action="/login" method="post">
                <div class="name_pass_block">
                    <div class="name_row">
                        <div><label for="name">Login</label></div>
                        <input type="text" name="username" id="name">
                    </div>
                    <div class="pass_row">
                        <div><label for="pass">Password</label></div>
                        <input type="password" name="password" id="pass">
                    </div>
                </div>
                <div class="button login">
                    <button class="common_btn"><a>Sigh in</a></button>
                </div>
            </form>
        </div>
        <div class="login_box_sep"></div>
        <div class="login_box_right">
            <h2 class="title">Create</h2>
            <div class="name_pass_block">
                <p>If you want to use chat but don't have
                    an account, you can create a new one.</p>
            </div>
            <a class="common_btn_a" href="/registration">Sigh up</a>
        </div>
    </div>
</div>
</body>