<div class="materialContainer">
    <div class="registration_box">
        <div class="section_title">Create Your Account</div>
        <form action="/placement" method="post">
            <div class="name_row">
                <div><label for="logo">Логотип</label></div>
                <input type="text" name="logo" id="logo">
            </div>

            <div class="name_row">
                <div><label for="name">Название</label></div>
                <input type="text" name="product_name" id="name">
            </div>

            <div class="name_row">
                <div><label for="price">Цена</label></div>
                <input type="text" name="price" id="price">
            </div>

            <div class="name_row">
                <div><label for="description">Описание</label> </div>
                <input type="text" name="description" id="description">
            </div>

            <div class="name_row">
                <div><label for="address">Адресс</label> </div>
                <input type="text" name="address" id="address">
            </div>

            <div class="name_row">
                <div><label for="phone_number">Номер телефона</label> </div>
                <input type="text" name="phone_number" id="phone_number">
            </div>


            <div>
                <button class="common_btn"><a>Разместить</a></button>
            </div>
        </form>
    </div>
</div>
