<form action="ad" method="POST" style="display:inline;"><br><br>
    <input name="showAd" type="number" class="field" min="1" max="1100000" /><br>
    <input type="submit" value="Session" />
</form>
<h3>{{this.data}}</h3>