body, html {
  padding: 0;
  margin: 1em;
  color: #171717;
  font-family: Roboto, serif;
  background: #f5f5f5;
  /*----------------HEADER----------------*/
  /*----------------HEADER----------------*/ }
  body a, html a {
    text-decoration: none; }
  body header, html header {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  body #header *, html #header * {
    display: inline-block;
    verticle-align: middle; }
  body #header, html #header {
    padding: 0 40px;
    height: 60px;
    background: #171717;
    border-radius: 4px; }
  body #header_logo, html #header_logo {
    margin-top: 10px;
    display: block;
    background-image: url("https://see.fontimg.com/api/renderfont4/K7WZX/eyJyIjoiZnMiLCJoIjo2OCwidyI6MTAwMCwiZnMiOjY4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/Q2hlbG92ZWs/sicretmonopersonallight.png");
    height: 40px;
    width: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  body #header_title, html #header_title {
    font-family: Roboto, serif;
    font-weight: bold;
    float: left;
    height: 100%; }
  body #header_title a, html #header_title a {
    height: 100%; }
  body #header_ul, html #header_ul {
    margin: 0; }
  body h2 a, html h2 a {
    color: #00D09D;
    font-size: 32px;
    letter-spacing: -2px;
    verticle-align: 70px; }
  body h2 span, html h2 span {
    letter-spacing: -12px; }
  body nav, html nav {
    float: right; }
  body nav a, html nav a {
    color: #f5f5f5;
    top: 0;
    padding: 22px 16px 18px;
    border-bottom: solid 0 #00D09D;
    transition: all .2s; }
  body nav a:hover, html nav a:hover {
    border-bottom: solid 4px #00D09D;
    padding: 22px 16px 18px; }
  body nav li, html nav li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px; }
  body #header menu, html #header menu {
    width: 90px;
    text-align: right; }
  body header #header menu a, html header #header menu a {
    background: #00D09D;
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: 35px;
    color: #f5f5f5;
    font-size: 26px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow .2s; }
  body header #header menu a:hover, html header #header menu a:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); }
  body .materialContainer, html .materialContainer {
    margin: 10px auto;
    width: 60%; }
  body .login_box, html .login_box {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
    background: #202020;
    color: #f5f5f5; }
  body .login_box_left, html .login_box_left {
    flex: 1; }
  body .login_box_sep, html .login_box_sep {
    flex: 0;
    border-left: 1px solid #f5f5f5;
    width: 2px;
    height: 210px;
    margin: 0 16px; }
  body .login_box_right, html .login_box_right {
    flex: 1; }
  body .login_box div h2, html .login_box div h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px; }
  body .name_row, html .name_row {
    padding-bottom: 18px; }
  body .pass_row, html .pass_row {
    padding-bottom: 18px; }
  body .login_box div form div input, html .login_box div form div input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #5f5f5f;
    width: 300px;
    padding: 5px;
    margin: 4px 0;
    font-size: 16px; }
  body .name_pass_block, html .name_pass_block {
    height: 150px; }
  body .common_btn, html .common_btn {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none; }
  body button a, html button a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid;
    overflow: hidden;
    letter-spacing: 2px;
    padding: 6px 12px; }
  body .common_btn_a, html .common_btn_a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 6px 12px;
    border: 1px solid;
    overflow: hidden;
    letter-spacing: 2px; }

/*# sourceMappingURL=style.css.map */