
body, html
  padding: 0
  margin: 0
  //color: #fff
  color: #faf7f2
  font-family: Roboto, serif
  //background: #f5f5f5
  //background: linear-gradient(60deg, #B7FF90, #CCFF90)
  background: #faf7f2
  height: 100%
  //#cccccc


  /*----------------HEADER----------------*/


  a
    text-decoration: none

  header
    position: fixed
    top: 20px
    left: 20px
    right: 20px
    z-index: 50
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)

  #header *
    display: inline-block
    verticle-align: middle


  #header
    padding: 0 40px
    height: 60px
    //background: #171717
    //background: #00C853
    background: #143628
    border-radius: 4px


  #header_logo
    margin-top: 10px
    display: block
    //https://see.fontimg.com/api/renderfont4/K71El/eyJyIjoiZnMiLCJoIjo2OSwidyI6MTAwMCwiZnMiOjY5LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/Q2hlbG92ZWs/jabin-medium-swash-2.png
    //https://see.fontimg.com/api/renderfont4/BXYx/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Q2hlbG92ZWs/feathergraphy-decoration.png
    //background-image: url('https://see.fontimg.com/api/renderfont4/K7WZX/eyJyIjoiZnMiLCJoIjo2OCwidyI6MTAwMCwiZnMiOjY4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/Q2hlbG92ZWs/sicretmonopersonallight.png')
    //background-image: url("https://see.fontimg.com/api/renderfont4/qZMO6/eyJyIjoiZnMiLCJoIjo2OCwidyI6MTAwMCwiZnMiOjY4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/QWdyb3NlbGw/roxale-story-calligraphy-italic.png")
    background-image: url("https://see.fontimg.com/api/renderfont4/mLgrV/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/QWdyb3NlbGw/early-goal-demo-bold.png")
    height: 40px
    width: 140px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
  //padding-top: 10px



  #header_title
    font-family: Roboto, serif
    font-weight: bold
    float: left
    height: 100%
  //line-height: 72px

  #header_title a
    height: 100%

  #header_ul
    margin: 0

  #header_nav
    float: right


  #header_nav a
    color: #f5f5f5
    top: 0
    padding: 22px 16px 18px
    //border-bottom: solid 0 #fff
    transition: all .2s


  #header_nav a:hover
    color: darkgray


  #header_nav li
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    letter-spacing: 1px

  /*----------------FOOTER----------------*/

  .footer
    height: 100px
    margin-top: 50px


  /*----------------LOGIN----------------*/




  .materialContainer
    position: relative
    top: 100px
    margin: 0 auto
    width: 60%

  .login_box
    margin: 0 auto
    max-width: 700px
    display: flex
    flex-direction: row
    box-shadow: 3px 6px 10px rgba(0, 0, 0.1, 0.20)
    padding: 14px
    font-size: 14px
    border-radius: 3px
    //background: #202020
    background: #143628
    color: #f5f5f5

  .login_box_left
    flex: 1

  .login_box_sep
    flex: 0
    border-left: 1px solid #f5f5f5
    width: 2px
    height: 210px
    margin: 0 16px

  .login_box_right
    flex: 1

  .login_box div h2
    font-size: 18px
    font-weight: normal
    text-transform: uppercase
    letter-spacing: 1px
    padding-bottom: 5px

  //.name_row
  //  padding-bottom: 18px

  .pass_row
    padding-bottom: 18px


  .login_box div form div input
    background-color: rgba(0, 0, 0, 0.2)
    color: #fff
    border: 1px solid #000
    border-radius: 3px
    box-shadow: 1px 1px 0 #5f5f5f
    width: 300px
    padding: 5px
    margin: 4px 0
    font-size: 16px

  .name_pass_block
    height: 150px


  .common_btn
    margin: 0
    padding: 0
    background-color: rgba(0, 0, 0, 0)
    border: none
    outline: none

  .btn_a
    height: 100%
    width: 100%
    text-decoration: none
    color: #fff
    display: inline-block
    position: relative
    border: 1px solid
    overflow: hidden
    letter-spacing: 2px
    padding: 6px 12px
    font-size: 14px

  .common_btn_a
    text-decoration: none
    color: #fff
    display: inline-block
    position: relative
    padding: 6px 12px
    border: 1px solid
    overflow: hidden
    letter-spacing: 2px

  .div_box
    height: 1000px
    width: 500px


  /*----------------REGISTRATION----------------*/




  .section_title
    text-transform: uppercase
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    font-size: 34px
    color: #ffffff
    margin-bottom: 30px
    font-weight: 200
    letter-spacing: 2px

  .registration_box
    margin: 0 auto
    max-width: 700px
    flex-direction: row
    box-shadow: 3px 6px 10px rgba(0, 0, 0.1, 0.20)
    padding: 14px
    font-size: 14px
    border-radius: 3px
    //background: #202020
    background: #143628
    color: #f5f5f5

  .registration_box form input
    background-color: rgba(0, 0, 0, 0.2)
    color: #fff
    border: 1px solid #000
    border-radius: 3px
    box-shadow: 1px 1px 0 #5f5f5f
    width: 300px
    padding: 5px
    margin: 4px 0
    font-size: 16px

  /*----------------CHAT----------------*/




  .container
    position: relative
    top: 100px
    margin: 0 auto
    height: 80%

  .chat_container
    height: 100%
    width: 550px
    margin: 0 auto
    //background-color: #202020
    background-color: #143628
    color: #f5f5f5
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 4px

  .chat_form
    width: 510px
    position: absolute
    bottom: 0
    padding: 10px 0
    margin: 0 20px
    border-top: 1px solid #f5f5f5

  .chat_form input
    background-color: rgba(0, 0, 0, 0.2)
    color: #fff
    border: 1px solid #000
    border-radius: 3px
    box-shadow: 1px 1px 0 #5f5f5f
    width: 88%
    padding: 5px
    margin: 4px 0
    font-size: 16px
    float: left

  .chat_form button
    float: right

  .button_send
    margin: 0
    width: 30px
    height: 30px
    border-radius: 50%
    border: 2px solid #f5f5f5

  .button_send i
    color: white
    font-size: 30px


  .button_send i:hover
    color: darkgray

  #MY_NAME
    text-align: center
    border-bottom: 1px solid #f5f5f5
    margin: 0 20px

  #messages
    list-style-type: none

  /*----------------DASHBOARD----------------*/


  .dashboard_container
    position: relative
    top: 100px
    margin: 0 auto
    padding: 20px
    height: 80%
    width: 60%
    background-color: #143628
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 4px
    display: grid

  .elements_list
    position: relative
    height: 92%

  .dashboard_element
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 4px
    margin-bottom: 15px

  .dashboard_filling
    display: grid
    gap: 50px
    padding-left: 20px
    //height: 100vh
    //grid-template-rows: 200px 200px
    grid-template-columns: 2fr 1fr 4fr 1fr
    align-items: center

  .div_logout
    //position: absolute
    //bottom: 0
    position: relative
    margin: 0 auto
    text-align: center

  .a_logout
    //position: relative
    //top: 100px
    color: #f5f5f5

  .chat_list_box
    padding: 10px 20px

  .chat_list_user
    margin: 10px 40% 8px 0
    border-bottom: 1px solid darkgray

  .chat_list_user a
    display: block
    width: 100%
    color: white

  .delete_btn
    appearance: none
    border: 0
    border-radius: 5px
    background: orangered
    color: #fff
    padding: 8px 16px
    font-size: 16px

  .h2a
    color: white

  /*----------------INDEX----------------*/

  .main_container
    position: relative
    top: 100px
    margin: 0 300px
    padding: 8px
    //height: 85%
    //background: #00C853
    background: #143628
    border-radius: 6px
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)

  //.main_element
  //  display: grid
  //  grid-template-columns: 2fr 1fr
  //  grid-gap: 16px
  //
  //.element_left
  //  float: left
  //  width: 300px
  //  height: 200px
  //
  //.element_middle
  //  display: inline-flex
  //
  //.element_right
  //  float: right

  .main_element
    display: grid
    gap: 20px
    //grid-template-rows: 200px auto 100px
    min-height: 200px
    margin: 30px
    grid-template-columns: 2fr 4fr 1fr
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 6px
    background: #143628
    padding: 10px

  .index_inline
    display: grid
    grid-template-columns: 2fr 1fr
    width: 100%

  .f_left
    float: left
    text-align: center

  .f_right
    float: right
    text-align: right
    padding-right: 20px

  [class^="element_"]
    /* Размещаем контейнеры по центру */
    display: grid
    place-items: center
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 6px
    padding: 8px
    background: #143628
    color: #f5f5f5


  .order_logo
    width: 320px
    height: 180px

  //background-image: url('https://see.fontimg.com/api/renderfont4/K7WZX/eyJyIjoiZnMiLCJoIjo2OCwidyI6MTAwMCwiZnMiOjY4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/Q2hlbG92ZWs/sicretmonopersonallight.png')
  //background-image: url('https://i.ytimg.com/vi/MXtLA4waKHA/default.jpg')

  .index_img
    width: 280px
    height: 180px
  //background-image: url('https://i.ytimg.com/vi/MXtLA4waKHA/default.jpg')

  .element_middle h2 a
    color: #f5f5f5

  /*----------------INDEX----------------*/
  //.container1
  //  display: grid
  //  gap: 20px
  //  height: 100vh
  //
  //  grid-auto-rows: minmax(10px, auto)
  //  grid-auto-columns: minmax(10px, auto)
  //
  //  grid-template-areas: "A A A A   A A A C   C C C C" "B B B B   B B B C   C C C C" "B B B B   B B B C   C C C C"

  .main_container1
    position: relative
    top: 100px
    margin: 0 auto
    width: 50%
    padding: 8px
    //height: 85%
    //background: #00C853
    background: #143628
    border-radius: 6px
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)

  .container1
    display: grid
    gap: 25px
    //height: 100vh
    grid-template-rows: auto
    grid-template-columns: 3fr 1fr
    grid-auto-rows: minmax(100px, auto)
    justify-content: center
    justify-items: stretch


  .griditem
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    border-radius: 6px
    padding: 10px
    //background-color: #14C75B
    background: #143628
    color: #f5f5f5


  .A
    //border:  1px solid black
    grid-column: 1/3
    align-self: start
  //background-image: url('https://i.ytimg.com/vi/MXtLA4waKHA/default.jpg')

  .A h1
    display: inline-block

  .h_right
    float: right
    margin-right: 50px

  .B
    //border:  1px solid black
    align-self: start

  .C
    //border:  1px solid black
    grid-column: 2/2
    grid-row: 2/4
    align-self: start
    display: grid
    grid-template-rows: auto
    gap: 14px


  .C h2
    margin: 0 auto

  .D
    //border:  1px solid black


  .order_img
    max-width: 640px
    max-height: 360px
    flex-shrink: 0

  .order_img2
    max-width: 640px
    max-height: 360px
    flex-shrink: 0

  a.knopka
    margin: 0 auto
    color: #143628
    /* цвет текста */
    text-decoration: none
    /* убирать подчёркивание у ссылок */
    user-select: none
    /* убирать выделение текста */
    //background: #14C75B /* фон кнопки */
    background: linear-gradient(60deg, #B7FF90, #CCFF90)
    padding: 1em 5em
    /* отступ от текста */
    outline: none
    /* убирать контур в Mozilla */
    border-radius: 6px
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
    text-align: center

  a.knopka:hover
    background: rgb(232, 95, 76)
  /* при наведении курсора мышки */

  a.knopka:active
    background: rgb(152, 15, 0)
  /* при нажатии */


  .poisk
    margin-top: 10px

  .poisk form
    position: relative
    width: 50%
    margin: 0 auto
    background: #f5f5f5

  .poisk input, button
    border: none
    outline: none
    background: transparent

  .poisk input
    width: 100%
    height: 42px
    padding-left: 15px

  .poisk button
    height: 42px
    width: 42px
    position: absolute
    top: 0
    right: 0
    cursor: pointer

  .poisk button:before
    content: "\f002"
    font-size: 16px
    color: #F9F0DA

  .indent
    height: 10px


  /*----------------PLACEMENT----------------*/

  #description
    margin-top: 5px
    width: 100%
    height: 250px
    resize: none
    font-size: 14px
    border-radius: 3px
    background-color: rgba(0, 0, 0, 0.2)
    color: #fff
    border: 1px solid #000
    box-shadow: 1px 1px 0 #5f5f5f

  .placement_box
    margin: 0 auto
    max-width: 80%
    flex-direction: row
    box-shadow: 3px 6px 10px rgba(0, 0, 0.1, 0.20)
    padding: 14px
    font-size: 14px
    border-radius: 3px
    //background: #202020
    background: #143628
    color: #f5f5f5

  .placement_box form input
    background-color: rgba(0, 0, 0, 0.2)
    color: #fff
    border: 1px solid #000
    border-radius: 3px
    box-shadow: 1px 1px 0 #5f5f5f
    width: 300px
    padding: 5px
    margin: 4px 0
    font-size: 16px

  .grid_box
    display: grid
    grid-template-columns: 1fr 1fr

    gap: 20px

  //.d_name
  //  grid-row: 2/3
  //  grid-column: 2/2

  .d_des
    grid-row: 6/6
    grid-column: 1/3

  .preview_image
    width: 100%
    height: 100%
    //background-color: red
    grid-row: 1/6
    grid-column: 2/3
  //.left_column

  .placement_btn
    margin-left: 40%
    grid-row: 7/7
    grid-column: 1/3


  /*----------------CHAT----------------*/

  .chat_ui
    float: right
    padding-left: 100%
    width: 200px
    padding-right: 10px

  .companion_name
    font-weight: bold

  .dateandtime
    font-size: 15px
    color: lightgray
    margin-left: 5px
