@charset "UTF-8";
body, html {
  padding: 0;
  margin: 0;
  color: #faf7f2;
  font-family: Roboto, serif;
  background: #faf7f2;
  height: 100%;
  /*----------------HEADER----------------*/
  /*----------------FOOTER----------------*/
  /*----------------LOGIN----------------*/
  /*----------------REGISTRATION----------------*/
  /*----------------CHAT----------------*/
  /*----------------DASHBOARD----------------*/
  /*----------------INDEX----------------*/
  /*----------------INDEX----------------*/
  /* при наведении курсора мышки */
  /* при нажатии */
  /*----------------PLACEMENT----------------*/
  /*----------------CHAT----------------*/ }
  body a, html a {
    text-decoration: none; }
  body header, html header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 50;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  body #header *, html #header * {
    display: inline-block;
    verticle-align: middle; }
  body #header, html #header {
    padding: 0 40px;
    height: 60px;
    background: #143628;
    border-radius: 4px; }
  body #header_logo, html #header_logo {
    margin-top: 10px;
    display: block;
    background-image: url("https://see.fontimg.com/api/renderfont4/mLgrV/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/QWdyb3NlbGw/early-goal-demo-bold.png");
    height: 40px;
    width: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  body #header_title, html #header_title {
    font-family: Roboto, serif;
    font-weight: bold;
    float: left;
    height: 100%; }
  body #header_title a, html #header_title a {
    height: 100%; }
  body #header_ul, html #header_ul {
    margin: 0; }
  body #header_nav, html #header_nav {
    float: right; }
  body #header_nav a, html #header_nav a {
    color: #f5f5f5;
    top: 0;
    padding: 22px 16px 18px;
    transition: all .2s; }
  body #header_nav a:hover, html #header_nav a:hover {
    color: darkgray; }
  body #header_nav li, html #header_nav li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px; }
  body .footer, html .footer {
    height: 100px;
    margin-top: 50px; }
  body .materialContainer, html .materialContainer {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 60%; }
  body .login_box, html .login_box {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
    background: #143628;
    color: #f5f5f5; }
  body .login_box_left, html .login_box_left {
    flex: 1; }
  body .login_box_sep, html .login_box_sep {
    flex: 0;
    border-left: 1px solid #f5f5f5;
    width: 2px;
    height: 210px;
    margin: 0 16px; }
  body .login_box_right, html .login_box_right {
    flex: 1; }
  body .login_box div h2, html .login_box div h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px; }
  body .pass_row, html .pass_row {
    padding-bottom: 18px; }
  body .login_box div form div input, html .login_box div form div input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #5f5f5f;
    width: 300px;
    padding: 5px;
    margin: 4px 0;
    font-size: 16px; }
  body .name_pass_block, html .name_pass_block {
    height: 150px; }
  body .common_btn, html .common_btn {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none; }
  body .btn_a, html .btn_a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid;
    overflow: hidden;
    letter-spacing: 2px;
    padding: 6px 12px;
    font-size: 14px; }
  body .common_btn_a, html .common_btn_a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 6px 12px;
    border: 1px solid;
    overflow: hidden;
    letter-spacing: 2px; }
  body .div_box, html .div_box {
    height: 1000px;
    width: 500px; }
  body .section_title, html .section_title {
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px; }
  body .registration_box, html .registration_box {
    margin: 0 auto;
    max-width: 700px;
    flex-direction: row;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
    background: #143628;
    color: #f5f5f5; }
  body .registration_box form input, html .registration_box form input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #5f5f5f;
    width: 300px;
    padding: 5px;
    margin: 4px 0;
    font-size: 16px; }
  body .container, html .container {
    position: relative;
    top: 100px;
    margin: 0 auto;
    height: 80%; }
  body .chat_container, html .chat_container {
    height: 100%;
    width: 550px;
    margin: 0 auto;
    background-color: #143628;
    color: #f5f5f5;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px; }
  body .chat_form, html .chat_form {
    width: 510px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    margin: 0 20px;
    border-top: 1px solid #f5f5f5; }
  body .chat_form input, html .chat_form input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #5f5f5f;
    width: 88%;
    padding: 5px;
    margin: 4px 0;
    font-size: 16px;
    float: left; }
  body .chat_form button, html .chat_form button {
    float: right; }
  body .button_send, html .button_send {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5; }
  body .button_send i, html .button_send i {
    color: white;
    font-size: 30px; }
  body .button_send i:hover, html .button_send i:hover {
    color: darkgray; }
  body #MY_NAME, html #MY_NAME {
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 20px; }
  body #messages, html #messages {
    list-style-type: none; }
  body .dashboard_container, html .dashboard_container {
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding: 20px;
    height: 80%;
    width: 60%;
    background-color: #143628;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: grid; }
  body .elements_list, html .elements_list {
    position: relative;
    height: 92%; }
  body .dashboard_element, html .dashboard_element {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 15px; }
  body .dashboard_filling, html .dashboard_filling {
    display: grid;
    gap: 50px;
    padding-left: 20px;
    grid-template-columns: 2fr 1fr 4fr 1fr;
    align-items: center; }
  body .div_logout, html .div_logout {
    position: relative;
    margin: 0 auto;
    text-align: center; }
  body .a_logout, html .a_logout {
    color: #f5f5f5; }
  body .chat_list_box, html .chat_list_box {
    padding: 10px 20px; }
  body .chat_list_user, html .chat_list_user {
    margin: 10px 40% 8px 0;
    border-bottom: 1px solid darkgray; }
  body .chat_list_user a, html .chat_list_user a {
    display: block;
    width: 100%;
    color: white; }
  body .delete_btn, html .delete_btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: orangered;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px; }
  body .h2a, html .h2a {
    color: white; }
  body .main_container, html .main_container {
    position: relative;
    top: 100px;
    margin: 0 300px;
    padding: 8px;
    background: #143628;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  body .main_element, html .main_element {
    display: grid;
    gap: 20px;
    min-height: 200px;
    margin: 30px;
    grid-template-columns: 2fr 4fr 1fr;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background: #143628;
    padding: 10px; }
  body .index_inline, html .index_inline {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%; }
  body .f_left, html .f_left {
    float: left;
    text-align: center; }
  body .f_right, html .f_right {
    float: right;
    text-align: right;
    padding-right: 20px; }
  body [class^="element_"], html [class^="element_"] {
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 8px;
    background: #143628;
    color: #f5f5f5; }
  body .order_logo, html .order_logo {
    width: 320px;
    height: 180px; }
  body .index_img, html .index_img {
    width: 280px;
    height: 180px; }
  body .element_middle h2 a, html .element_middle h2 a {
    color: #f5f5f5; }
  body .main_container1, html .main_container1 {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 50%;
    padding: 8px;
    background: #143628;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); }
  body .container1, html .container1 {
    display: grid;
    gap: 25px;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    justify-items: stretch; }
  body .griditem, html .griditem {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
    background: #143628;
    color: #f5f5f5; }
  body .A, html .A {
    grid-column: 1/3;
    align-self: start; }
  body .A h1, html .A h1 {
    display: inline-block; }
  body .h_right, html .h_right {
    float: right;
    margin-right: 50px; }
  body .B, html .B {
    align-self: start; }
  body .C, html .C {
    grid-column: 2/2;
    grid-row: 2/4;
    align-self: start;
    display: grid;
    grid-template-rows: auto;
    gap: 14px; }
  body .C h2, html .C h2 {
    margin: 0 auto; }
  body .order_img, html .order_img {
    max-width: 640px;
    max-height: 360px;
    flex-shrink: 0; }
  body .order_img2, html .order_img2 {
    max-width: 640px;
    max-height: 360px;
    flex-shrink: 0; }
  body a.knopka, html a.knopka {
    margin: 0 auto;
    color: #143628;
    /* цвет текста */
    text-decoration: none;
    /* убирать подчёркивание у ссылок */
    user-select: none;
    /* убирать выделение текста */
    background: linear-gradient(60deg, #B7FF90, #CCFF90);
    padding: 1em 5em;
    /* отступ от текста */
    outline: none;
    /* убирать контур в Mozilla */
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    text-align: center; }
  body a.knopka:hover, html a.knopka:hover {
    background: #e85f4c; }
  body a.knopka:active, html a.knopka:active {
    background: #980f00; }
  body .poisk, html .poisk {
    margin-top: 10px; }
  body .poisk form, html .poisk form {
    position: relative;
    width: 50%;
    margin: 0 auto;
    background: #f5f5f5; }
  body .poisk input, body button, html .poisk input, html button {
    border: none;
    outline: none;
    background: transparent; }
  body .poisk input, html .poisk input {
    width: 100%;
    height: 42px;
    padding-left: 15px; }
  body .poisk button, html .poisk button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
  body .poisk button:before, html .poisk button:before {
    content: "\f002";
    font-size: 16px;
    color: #F9F0DA; }
  body .indent, html .indent {
    height: 10px; }
  body #description, html #description {
    margin-top: 5px;
    width: 100%;
    height: 250px;
    resize: none;
    font-size: 14px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 1px 0 #5f5f5f; }
  body .placement_box, html .placement_box {
    margin: 0 auto;
    max-width: 80%;
    flex-direction: row;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
    background: #143628;
    color: #f5f5f5; }
  body .placement_box form input, html .placement_box form input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #5f5f5f;
    width: 300px;
    padding: 5px;
    margin: 4px 0;
    font-size: 16px; }
  body .grid_box, html .grid_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
  body .d_des, html .d_des {
    grid-row: 6/6;
    grid-column: 1/3; }
  body .preview_image, html .preview_image {
    width: 100%;
    height: 100%;
    grid-row: 1/6;
    grid-column: 2/3; }
  body .placement_btn, html .placement_btn {
    margin-left: 40%;
    grid-row: 7/7;
    grid-column: 1/3; }
  body .chat_ui, html .chat_ui {
    float: right;
    padding-left: 100%;
    width: 200px;
    padding-right: 10px; }
  body .companion_name, html .companion_name {
    font-weight: bold; }
  body .dateandtime, html .dateandtime {
    font-size: 15px;
    color: lightgray;
    margin-left: 5px; }

/*# sourceMappingURL=style.css.map */